snippet dataprovider
	/**
	 * @return array
	 */
	public function ${1}()
	{
		return [
			[],
		];
	}

snippet vardump
	var_dump(${1});

snippet getclass
	get_class(${1});

snippet classdump
	var_dump(get_class(${1}));
