[submodule "vim/.vim/bundle/ctags.git"]
	path = vim/.vim/bundle/ctags.git
	url = https://github.com/fishman/ctags.git
[submodule "vim/.vim/bundle/vim-pathogen.git"]
	path = vim/.vim/bundle/vim-pathogen.git
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/tlib_vim.git"]
	path = vim/.vim/bundle/tlib_vim.git
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/.vim/bundle/vim-addon-mw-utils.git"]
	path = vim/.vim/bundle/vim-addon-mw-utils.git
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/.vim/bundle/vim-snipmate.git"]
	path = vim/.vim/bundle/vim-snipmate.git
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/.vim/bundle/vim-l9.git"]
	path = vim/.vim/bundle/vim-l9.git
	url = https://github.com/git-mirror/vim-l9.git
    ignore = dirty
[submodule "vim/.vim/bundle/nerdtree.git"]
	path = vim/.vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/phpcomplete.vim.git"]
	path = vim/.vim/bundle/phpcomplete.vim.git
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "vim/.vim/bundle/FuzzyFinder.git"]
	path = vim/.vim/bundle/FuzzyFinder.git
	url = https://github.com/vim-scripts/FuzzyFinder.git
    ignore = dirty
[submodule "vim/.vim/bundle/vim-unimpaired.git"]
	path = vim/.vim/bundle/vim-unimpaired.git
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/bundle/vim-phpcolors.git"]
	path = vim/.vim/bundle/vim-phpcolors.git
	url = https://github.com/modess/vim-phpcolors.git
[submodule "vim/.vim/bundle/linediff.vim.git"]
	path = vim/.vim/bundle/linediff.vim.git
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "tmux/.tmux/tmux-copycat.git"]
	path = tmux/.tmux/tmux-copycat.git
	url = https://github.com/tmux-plugins/tmux-copycat.git
[submodule "tmux/.tmux/tmux-yank.git"]
	path = tmux/.tmux/tmux-yank.git
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "tmux/.tmux/tmux-open.git"]
	path = tmux/.tmux/tmux-open.git
	url = https://github.com/tmux-plugins/tmux-open.git
[submodule "vim/.vim/bundle/hexmode.git"]
	path = vim/.vim/bundle/hexmode.git
	url = https://github.com/fidian/hexmode.git
[submodule "vim/.vim/bundle/vim-better-whitespace.git"]
	path = vim/.vim/bundle/vim-better-whitespace.git
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/.vim/bundle/vim-autotag.git"]
	path = vim/.vim/bundle/vim-autotag.git
	url = https://github.com/craigemery/vim-autotag.git
[submodule "vim/.vim/bundle/tagbar.git"]
	path = vim/.vim/bundle/tagbar.git
	url = https://github.com/majutsushi/tagbar.git
    ignore = dirty
[submodule "vim/.vim/bundle/vdebug.git"]
	path = vim/.vim/bundle/vdebug.git
	url = https://github.com/joonty/vdebug.git
[submodule "vim/.vim/bundle/indentLine.git"]
	path = vim/.vim/bundle/indentLine.git
	url = git@github.com:Yggdroot/indentLine.git
[submodule "X11/.urxvt/ext/urxvt-resize-font.git"]
	path = X11/.urxvt/ext/urxvt-resize-font.git
	url = git@github.com:simmel/urxvt-resize-font.git
