fluxbox/.fluxbox/styles/current
fluxbox/.fluxbox/styles/dynamic
fluxbox/.fluxbox/fbrun_history
fluxbox/.fluxbox/lastwallpaper
fluxbox/.fluxbox/menu
fluxbox/.fluxbox/overlay
fluxbox/.fluxbox/slitlist
fluxbox/.fluxbox/startup
fluxbox/.fluxbox/windowmenu
