[user]
    email = mrogacki@nexway.com
    name = Marcin Rogacki
[color]
    ui = true
[core]
    editor = vim
    filemode = false
    autocrlf = false
	excludesfile = /home/marcin/.gitignore_global
[credential]
    helper = cache --timeout=36000
[push]
    default = matching
[alias]
    delete-merged-branches = !sh -c 'git branch --merged master | grep -v master | xargs -r -n 1 git branch -d'
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
